<app-navBar></app-navBar>
<br /><br /><br />

<div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
  <div class="grid">

     <div class="col-12 md:col-6 lg:col-3"  *ngFor="let post of posts" >
        <div class="surface-card shadow-2 p-3 border-round"  *ngIf="user.uid === post.participantId">
           <div class="flex justify-content-between mb-3" >
              <div>
                 <span class="block text-green-500 font-medium mb-3">Post</span>
                 <div class="text-900 font-normal text-sm">{{post.title }}</div>
              </div>
              <div class="flex align-items-center justify-content-center bg-cyan-100 border-round"
                 style="width:2rem;height:2rem">
                 <img style="width:2.5rem;height:2.5rem;border-radius:50%" p [src]="post.photoUrl" />
              </div>
           </div>
        
           <button
              pButton
              type="button"
              label="Delete"
              icon="pi pi-trash"
              class="eliminar p-button-danger"
              (click)="openDeleteModal(post.aggregateId)"
            ></button>
        </div>
     </div>
  </div>
</div>


<app-footer></app-footer>
