.cont-btn{
   margin: 0 auto;
}
.cont-logins{
   text-align: center;
}
.grid-nogutter > .col, .grid-nogutter > [class*=col-] {
   padding: 0 !important;
   height: 100vh !important;
   color: #030810e3;
}
.cont-form{
   position: relative;
   top: 0px;
   left: 100px;

}
@media only screen and (max-width: 992px)  {
   .img-responsive{
      display: none
   }
   .cont-responsive-main{
      display: flex;
      text-align: center;
      justify-content: center;
      margin: 0 auto;
   }
   .cont-form{
      margin: 0 auto;
      left:0;
      width: 60%;
   }

}