<div class="post-detail-container">
  <button class="go-back-button" type="button" (click)="goBack()">
    go back
  </button>
  <div *ngIf="post" class="singlePostContainer">
    <h2>{{ post.title | uppercase }}</h2>
    <p>Author: {{ post.author | uppercase }}</p>

    <div class="comments-container">
      <div *ngFor="let comment of post.comments">
        <div
          [ngClass]="{
            'left-msg': user.uid != comment.participantId,
            'right-msg': user.uid === comment.participantId
          }"
        >
          <div class="msg-info">
            <div class="msg-info-name">{{ comment.author }}</div>
          </div>

          <div class="msg-text">
            {{ comment.content }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="comment-form">
    <div class="inputs-container">
      <textarea id="content" [(ngModel)]="newContent" placeholder="Content">
      </textarea>
    </div>
    <button (click)="createComment()">Send!</button>
  </div>
</div>

<app-footer></app-footer>
