<app-navBar></app-navBar>

<br><br><br><br><br>

<div class="post-detail-container">

  <div *ngIf="post" class="singlePostContainer surface-card p-3 shadow-2 border-round">
    <h2 class="font-medium text-900 mb-2">Title: {{ post.title | uppercase }}</h2>
    <p class="font-medium text-green-500 mb-3">Author: {{ post.author | uppercase }}</p>

    <div class="comments-container">
      <div *ngFor="let comment of post.comments">
        <div [ngClass]="{
            'left-msg': user.uid != comment.participantId,
            'right-msg': user.uid === comment.participantId
          }">
          <div class="cont-chat">

            <div>

              <div class="msg-info">
                <div class="msg-info-name text-yellow-500">{{ comment.author }}</div>
              </div>

              <div class="msg-text">
                {{ comment.content }}
              </div>

              <div class="date-send">
                <p class="date pi pi-check">{{date}}</p>
                <button
                  *ngIf="user.uid === comment.participantId || user.rol=='ADMIN'"
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-danger p-button-text"
                  value="delete"
                  (click)="openDeleteModal(comment.postId, comment.id)">
                </button>
              </div>

            

          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="comment-form">

    <div class="inputs-container">
      <div class="p-fluid grid col-12">
        <div class="field col-12">
          <span class="p-float-label">
            <input id="content" type="text" pInputText [(ngModel)]="newContent" />
            <label for="inputtext">Escribe un mensaje aquí</label>
          </span>
        </div>
      </div>
    </div>

  <button pButton type="button" (click)="createComment()" class="send p-button-info ml-3">
    <i class="pi pi-send"></i>&nbsp; Send!
  </button>

  </div>
</div>

<app-footer></app-footer>