.example-container .mat-form-field + .mat-form-field {
   margin-left: 8px;
 }
 .img{
  height: 50px;
  width: 50px;
  border-radius:50%
 }
 .cont-imgs{
  display: grid;
  text-align: center;
  padding:10px;

  margin: 0 auto;
  width: 85%;
 }
 .cont-imgs label{
  position: relative;
  bottom: 10px;
 }
 